/* General */
body {
	background: #f2f2f2;
}

span,
i {
	font-size: 12px;
}

a {
	color: #009688;
}

.p-t-0 {
	padding-top: 0px!important;
}

.p-t-10 {
	padding-top: 10px!important;
}

.p-t-20 {
	padding-top: 20px!important;
}

.p-t-30 {
	padding-top: 30px!important;
}

.p-b-0 {
	padding-bottom: 0px!important;
}

.p-b-10 {
	padding-bottom: 10px!important;
}

.p-b-20 {
	padding-bottom: 20px!important;
}

.p-b-30 {
	padding-bottom: 30px!important;
}

.m-t-0 {
	margin-top: 0px!important;
}

.m-t-10 {
	margin-top: 10px!important;
}

.m-t-20 {
	margin-top: 20px!important;
}

.m-t-30 {
	margin-top: 30px!important;
}

.m-b-0 {
	margin-bottom: 0px!important;
}

.m-b-10 {
	margin-bottom: 10px!important;
}

.m-b-20 {
	margin-bottom: 20px!important;
}

.m-b-30 {
	margin-bottom: 30px!important;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.m-text-center {
	text-align: center!important;
}

.app-content {
	padding-top: 64px;
	padding-bottom: 28px;
}

@media (min-width: 480px) {
	.app-content {
		padding-top: 72px;
	}
}

.btn-small {
	font-size: 12px;
    text-transform: capitalize;
    padding: 0px 12px;
    line-height: 26px;
    height: 26px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
	padding-left: 28px;
	margin-right: 8px;
}

[type="radio"]:checked+label {
	color: #009688;
}

.verification {
	margin-top: 3px;
}

.e-u-avatar {
	min-height: 70px!important;
}

.modal .modal-footer .btn {
	margin-bottom: 15px;
}

/* Top Page */
.top-page a.modal-trigger {
	color: #ffffff;
    z-index: 99;
    position: fixed;
    right: 108px;
    top: 0px;
    padding: 17px 15px 10px 15px;
}

@media (min-width: 768px) {
	.top-page a.modal-trigger {
		padding: 21px 15px 13px 15px;
	}
}

.top-page a.modal-trigger:hover {
	background-color: rgba(0,0,0,0.1);
}

.title-page {
	position: fixed;
    color: #ffffff;
    z-index: 99;
    line-height: 57px;
    margin-left: 60px;
}

@media (min-width: 768px) {
	.title-page {
	    line-height: 65px;
	}
}

.footer-reveal {
	text-align: center;
}

.footer-reveal .btn {
	margin-top: 8px;
}

.footer-reveal em {
	color: #777777;
}

.action-reveal {
	margin-bottom: -18px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
    padding-top: 5px;
}

/* Sidebar Nav */
.cst-navbar-app {
	position: fixed;
	z-index: 99;
	margin-bottom: 12px;
}

.user-view .background img {
	width: 100%;
	height: auto;
}

.side-nav.cst-nav .user-view .name, 
.side-nav .userView .name,
.side-nav.cst-nav li>a {
	font-weight: normal;
}

.tabs.cst-tabs .tab a, 
.tabs.cst-tabs .tab.disabled a, 
.tabs.cst-tabs .tab.disabled a:hover {
	font-size: 13px;
	font-weight: 500;
}

.more-vert-app {
	padding-left: 10px;
	padding-right: 10px;
	float: right;
}

ul.cst-dropdown,
ul.cst-dropdown li,
ul.cst-dropdown li a {
	width: 130px!important;
	font-size: 13px;
	color: rgba(0,0,0,0.87);
}

ul.cst-dropdown {
	float: right;
	right: 18px;
	top: 18px!important;
	left: inherit!important;
	border-radius: 3px;
}

.title-pages {
	font-weight: 500;
    font-size: 16px;
}

@media (min-width: 768px){
	.title-pages {
		margin-left: 25px;
	}
}

@media only screen and (min-width: 993px) {
	nav a.button-collapse {
	    display: block!important;
	}
}

.side-nav {
	z-index: 9999;
}

/* Bottom bar */
.tabs.bottom-bar {
	background: #009688;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.tabs.bottom-bar .tab a, 
.tabs.bottom-bar .tab.disabled a, 
.tabs.bottom-bar .tab.disabled a:hover {
	font-size: 13px;
	background: #009688;
	color: #ffffff;
	font-weight: normal;
	text-transform: capitalize;
}

.tabs.bottom-bar .tab i {
	vertical-align: middle;
	line-height: 23px;
}

.tabs .indicator {
	background-color: rgba(107, 255, 241, 0.12);
	height: 48px;
}

.nav-bottom {
	z-index: 9;
	/*height: 44px;*/
	position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.read-more {
	color: #009688;
}

@media (min-width: 768px) {
	.nav-bottom {
		height: 48px;
	}
}

/* App page */
.card.kajian-card .card-image {
	max-height: 160px;
	background: #000000;
    -moz-box-shadow: inset 0 -10px 10px -10px #000000;
    -webkit-box-shadow: inset 0 -10px 10px -10px #000000;
    box-shadow: inset 0 -10px 10px -10px #000000;
    opacity: 0.8;
}

.card.kajian-card .card-image img {
	opacity: 0.7;
}

.card.kajian-card .people-img {
	margin-right: 15px;
	float: left;
	width: 82px;
    height: 82px;
    overflow: hidden;
    border: 2px solid #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.card.kajian-card .people-img img {
	width: auto;
	height: 100%;
}

.card.kajian-card .card-content {
	padding: 15px;
}

.card.kajian-card .float-inner-card {
	margin-top: -51px;
    z-index: 1;
    position: relative;
}

.card.kajian-card span.title-card {
	position: absolute;
    color: #ffffff;
    z-index: 2;
    padding: 15px;
    font-size: 14px;
}

.card.kajian-card .float-inner-card .top-inner-card {
	display: block;
    padding-top: 9px;
}

.card.kajian-card .float-inner-card .bottom-inner-card {
	margin-top: 10px;
    display: block;
}

.card.kajian-card .float-inner-card span.utz-card {
	font-size: 14px;
	color: #ffffff;
}

.card.kajian-card .float-inner-card .bottom-inner-card span {
	font-size: 12px;
	color: #777777;
	display: block;
	line-height: 21px;
}

.card.kajian-card .float-inner-card .bottom-inner-card i {
	font-size: 12px;
}

.card.kajian-card .loc-card {
	margin-top: 10px;
}

.card.kajian-card .loc-card span {
	display: block;
}

.card.kajian-card .loc-card span i {
	font-size: 12px;
}

.card.kajian-card .card-footer {
	padding: 5px 15px;
    border-top: 1px solid #dddddd;
}

.card.kajian-card .card-footer .activator {
	font-size: 14px;
	color: #009688;
	cursor: pointer;
}

.card.kajian-card .card-footer i {
	font-size: 12px;
}

.card.kajian-card .card-title {
	font-size: 15px;
    font-weight: 500;
}

.card.kajian-card .card-title i {
	font-size: 16px;
}

.card.kajian-card .card-reveal tr td {
	font-size: 12px;
	color: #777777;
}

/* App panel */
.app-card {
	padding: 15px;
}

/* Dropzone */
.dropzone.app-dropzone {
	padding: 0;
	border: 0!important;
}

.dropzone.app-dropzone {
	background-color: #eee !important; 
}

.dropzone.app-dropzone .dz-message .drag-icon-cph .material-icons {
	font-size: 80px;
	color: #777; 
}

.dropzone.app-dropzone .dz-message {
	margin: 0px!important;
	padding: 8px;
}

.app-dropzone .dz-drag-hover {
	border: 2px dashed #888 !important; 
}

.dropzone.app-dropzone .dz-preview {
	margin: 0;
	width: 100%;
}

.dropzone.app-dropzone .dz-preview img {
	width: 100%;
}

.dropzone.app-dropzone .dz-preview .dz-image {
	border-radius: 0px!important;
	width: 100%;
	height: 150px;
}

/* Modal */
@media only screen and (max-width: 992px) {
	.modal.modal-app {
	    width: 90%;
	}
}

.modal.modal-app {
	max-height: 76%;
}

.modal.modal-app form {
	padding: 0;
}

.modal.modal-app .modal-footer {
	padding-left: 24px;
	padding-right: 24px;
}

/* Search Kajian */
.search-kajian tr td {
	color: #ffffff;
	padding: 3px 0;
}

/* Detail Ustadz */
.utz-detail {
	margin-top: 80px;
    text-align: center;
}

.uts-image {
	width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
    margin-top: -72px;
}

/* Collection */
.collection.app-collection .avatar-ustadz {
	position: absolute;
    border-radius: 50px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    left: 10px;
}

.collection.app-collection .avatar-ustadz img {
	width: 100%;
}

.collection.app-coll-mosque span.title,
.collection.app-collection span.title {
	font-size: 14px!important;
    font-weight: 500;
}

.utz-verified {
	color: #009688!important;
}

.secondary-content-app {
	position: absolute;
    float: right;
    right: 15px;
    bottom: 15px;
}

.suggested {
	color: #777777;
	font-size: 12px;
    margin-top: 25px;
}

.collection.app-coll-mosque li {
	padding: 10px!important;
	min-height: 95px;
	position: relative;
}

.collection.app-coll-mosque i {
	font-size: 14px;
}

.collection.app-coll-mosque p {
	margin: 0;
	padding-right: 75px;
	line-height: 17px;
}

.collection.app-coll-mosque img {
	width: 75px;
    height: 75px;
    float: left;
    margin-right: 10px;
}

/* Detail Ustadz */
.card.kajian-card.utz-detail .card-content {
	padding-top: 10px
}

.utz {
	font-weight: 500;
	font-size: 16px;
}

/* Customize Select2 */
.select2-container {
    padding-left: 45px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	padding-left: 0;
    line-height: 34px;
    font-size: 14px;
}

.select2-dropdown.select2-dropdown--below {
	overflow-x: hidden;
}

.select2-results__option,
.select2-container--default .select2-search--dropdown .select2-search__field {
    padding-left: 45px;
}

.select2-no-prefix .select2-container {
	padding-left: 0px;
}

.select2-container--open .select2-dropdown {
	overflow-x: hidden;
}

.select2 {
	width: 100%!important;
}

label.label-select2 {
	font-size: 12px;
	top: -62px!important;
}

.select2-results__option {
	line-height: 3.5rem;
}

.select2-search--dropdown {
	height: 50px;
}

.gmap-mosque iframe {
	width: 100%!important;
	max-height: 300px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

/* Profile */
.cover-image {
	display: block;
	position: relative;
	max-height: 250px;
	overflow: hidden;
	padding-top: 55px;
	text-align: center;
}

.cover-image img {
	width: 100%;
}

.inner-cover {
	position: absolute;
    width: 100%;
    color: #fff;
    top: 80px;
}

.inner-cover .title-profile {
	font-weight: 300;
	margin-bottom: 0;
}

.inner-cover p {
	margin-top: 0;
}

.foto-profile {
	overflow: hidden;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 180px;
}

.foto-profile img {
	text-align: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid #ffffff;
}

.pofile-content {
	background: #ffffff;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    padding-top: 75px;
    padding-bottom: 8px;
}

.pofile-content .col {
	text-align: center;
}

.pofile-content .col h4 {
	margin-bottom: 0px;
	font-weight: 600;
	color: #212121;
}

.col-profile {
	margin-bottom: 41px;
}

.col-profile li {
	padding-left: 10px!important;
	min-height: inherit!important;
}

ul.col-profile li .row {
	margin-bottom: 0px!important;
}

ul.col-profile li span {
	color: #777777;
}

.col-profile li .s10 {
	border-left: 1px solid #eeeeee;
}

.col-profile li em {
	color: #777777;
}

.btn-profile-edit {
	bottom: 55px;
    right: 8px;
    position: fixed;
}

.rb-form {
	margin-bottom: 15px;
}

.rb-form i {
	position: absolute;
}

.rb-form label:after,
.rb-form label:before {
	margin-left: 0;
}

span.e-p-photo {
	color: #777777;
    padding-left: 45px;
}

/* Support */
.collection.app-support .st {
	font-weight: 500;
	font-size: 14px!important;
}

.collection.app-support li a {
	right: 5px!important;
    top: 57px!important;
}

.collection.app-support span.secondary-content {
	color: #777777;
	top: 5px!important;
    right: 8px!important;
}

.collection.app-support a p,
.collection.app-support a span {
	color: #212121!important;
}

.collection.app-support li.read {
	background: #f5f5f5;
}

.app-support {
	padding: 0px;
}

.app-support ul {
	border: none;
	border-bottom: 1px solid #eeeeee;
}

.app-support li {
	border: none;
}

.card-body-support {
	padding: 0px 15px 015px 15px;
}

.chat-support span.title {
	font-size: 14px;
	font-weight: 500;
}

.chat-support span.chat-inner {
	color: #777777;
}

.chat-support .atch,
.card-body-support .atch {
	font-size: 19px;
    vertical-align: middle;
}

.add-select-utz .select-wrapper span.caret,
.add-select-utz .select-wrapper input.select-dropdown {
	display: none!important;
}

.add-select-utz .select2-container {
	padding-left: 0px;
}

.add-select-utz #new-utz {
	width: calc(100% - 7rem)!important;
}

.add-select-utz .select2-container--default .select2-selection--single .select2-selection__rendered {
	margin-top: -11px!important;
}

.add-select-utz .select2-container--default .select2-selection--single .select2-selection__arrow {
	top: -11px!important;
}

/* Login / Register */
.login {
	background: #eeeeee;
}

.login-card {
    position: relative;
	margin-top: 130px;
}

.register {
	margin-top: 30px;
}

.login-top-content {
	text-align: center;
    background: #E91E63;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 3px;
    position: relative;
    margin-top: -50px;

    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.login-top-content h5 {
	font-size: 18px;
}

.login-top-content h5 i {
	vertical-align: text-top;
    font-size: 21px;
}

.login-card form {
	padding-top: 20px;
}

.login-card .btn {
	margin-top: 11px;
}

a.btn-front {
	margin-top: 11px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 0 20px;
    height: auto;
}

.login-bottom {
	margin-top: 30px;
	margin-bottom: 0;
}

.btn-block {
	width: 100%;
}

.reg-bottom {
	text-align: center;
	margin-bottom: 0px;
}